/*.radio-custom  > input[type="radio"]:checked+label {
  background: #000;
  color: #fff!important;
}*/
/*.radio-custom {
  position: relative;
}*/

input[type="radio"]:checked + .button-label {
  background-color:#000;
  color: #fff;
}

input[type="radio"]:checked + .button-label-color {
  border: 0.3rem solid #fff;
}




.button-label {
  display: inline-block;
  padding: 0.4rem;
  width: 3rem;
  text-align: center;
  cursor: pointer;
  color: #000;
  border-radius: 0.25em;
  background: #fff;
  border: 0.1rem solid #f3f3f3;
  font-size: 0.865rem;
}

.button-label-color {
  display: inline-block;
  padding: 0.4rem;
  width: 3rem;
  cursor: pointer;
  border-radius: 0.25em;
  background: #fff;
  border: 0.1rem solid #f3f3f3;
  border-radius: 50%;
  height:1.8rem;
  width:1.8rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.hidden-input{
  display: none;
}



@media screen and (max-width: 700px) {
  .button-label {
    font-size: 0.665rem;
  }
}